@import "_typography";

.filter {
  width: 22.65625vw;
  height: 22.55859375vw;
  background-color: #FFF;
  box-shadow: 0 0.09765625vw 0.390625vw 0 rgba(91,137,164,0.25);
  border-radius: $border-radius;
  margin-left: 10.05859375vw;
  margin-right: 1.85546875vw;
}

.filter__header {
  font-size: $filter__header-font;
  color: $filter__header-color;
  font-weight: $font-semibold;
  opacity: 0.1;
  line-height: 1.85546875vw;
  letter-spacing: 0.048828125vw;
  padding-top: 1.46484375vw;
  padding-left: 1.46484375vw;
  margin-bottom: 0.68359375vw;
}

.filter__checkbox-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.filter__checkbox-item:hover {
  background-color: #F1FCFF;
}

.checkbox-item__checkbox {
  display: flex;
  align-items: center;
  padding-left: 1.46484375vw;
  padding-right: 1.46484375vw;
  position: relative;
  height: 1.85546875vw;
  margin-bottom: 0.78125vw;
  margin-top: 0.87890625vw;

  .checkbox-item__checkbox-field {
    display: none;
  }

  .checkbox-item__checkbox-field {
    + span {
      display: flex;
      width: 1.85546875vw;
      height: 1.85546875vw;
      background: #fff;
      align-items: center;
      justify-content: center;
      color: white;
      border: 0.09765625vw solid #D2D5D6;
      box-sizing: border-box;
      border-radius: 0.29296875vw;
    }

    &:checked {
      + span {
        background: #F2FCFF;
        border: 0.09765625vw solid #3E9CE8;
        border-radius: 0.29296875vw;

        &::before {
          content: '';
          height: 0.390625vw;
          width: 0.5859375vw;
          border-left: 0.1953125vw solid #3E9CE8;
          border-bottom: 0.1953125vw solid #3E9CE8;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.checkbox-item__label {
  font-size: $checkboxes-list__label-font;
  display: flex;
  align-items: center;
  padding-left: 0.9765625vw;
}

.checkbox-item__show-only-button {
  display: flex;
  justify-content: flex-end;
  font-weight: $font-regular;
  font-size: $checkboxes-list__extra-uncheck-other-font;
  margin-right: 1.46484375vw;
  color: #3E9CE8;
}