@import '_typography';
@import '_variable';

.tickets {
  display: flex;
  flex-direction: column;
}

.ticket {
  width: 55.2734375vw;
  height: 15.72265625vw;
  background: #FFF;
  box-shadow: 0 0.09765625vw 0.390625vw 0 rgba(91,137,164,0.25);
  border-radius: $border-radius;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.953125vw;
  position: relative;
}

.ticket__button {
  width: 15.625vw;
  height: 5.46875vw;
  background: #FF6D00;
  box-shadow: 0 0.09765625vw 0 0 #D64D08, 0 0.1953125vw 0.09765625vw 0 rgba(0,0,0,0.10);
  border-radius: $border-radius;
  cursor: pointer;
}

.buy-button__text, .buy-button__price {
  font-size: $ticket__price-font;
  color: #FFF;
  margin: 0;
}

.buy-button__text {
  font-weight: $font-semibold;
  line-height: 2.1484375vw;
}

.buy-button__price {
  font-weight: $font-regular;
}

.ticket__buy {
  padding-top: 2.44140625vw;
  padding-left: 1.953125vw;
  padding-right: 1.953125vw;
  border-right: 0.09765625vw solid #ECEFF1;
}

.ticket__airline-logo {
  margin-bottom: 1.953125vw;
  display: flex;
  justify-content: center;
  img {
    width: 11.71875vw;
    height: 3.41796875vw;
  }
}

.ticket__content {
  display: flex;
  flex-direction: row;
  padding: 2.44140625vw;
  justify-content: space-between;
  width: 35.546875vw;
}

.ticket__detail {
  margin: 0;
  z-index: 1;
}

.ticket__detail--right {
  text-align: right;
}

.ticket__time {
  font-weight: $font-regular;
  font-size: $ticket__time-font;
  color: #4A4A4A;
  margin-top: 0;
  margin-bottom: 0.9765625vw;
}

.ticket__city, .ticket__date {
  font-size: $ticket__city-font;
  line-height: 1.7578125vw;
  margin: 0;
}

.ticket__city {
  font-weight: $font-semibold;
  color: #4A4A4A;
}

.ticket__date {
  font-weight: $font-regular;
  color: #8B9497;
}

.ticket__segment {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 999;
}

.ticket__path-line {
  height: 0.09765625vw;
  background: #D2D5D6;
  margin-right: 0.09765625vw;
  z-index: 9;
  width: 9.375vw;
}

.ticket__segment-route--right-segment {
  position: absolute;
  top: 1.7578125vw;
  left: -1.46484375vw;
}

.ticket__segment-route {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 10.7421875vw;
  height: 1.3671875vw;
  align-items: center;
}

.ticket__label-stops {
  font-size: $ticket__label-stops-font;
  color: #8B9497;
  line-height: 1.181640625vw;
  padding-left: 0.1953125vw;
}

.ticket__airplane-icon {
  height: 1.3671875vw;
  width: inherit;
  img {
    width: 1.26953125vw;
    height: 1.3671875vw;
  }
}