// Font Family
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

$font-family: 'Open Sans', sans-serif;

$font-regular: 400;
$font-semibold: 600;

// Font Sizes
$ticket__time-font: 32px;
$ticket__city-font: 12px;
$ticket__label-stops-font: 10px;
$ticket__price-font: 16px;
$filter__header-font: 12px;
$checkboxes-list__label-font: 13px;
$checkboxes-list__extra-uncheck-other-font: 11px;

//Font Colors
$label-font-color: #b8b8b8;
$h1-font-color: #a0a0a0;
$p-font-color: #b8b8b8;

$filter__header-color: #4A4A4A;